[submodule "buildroot"]
	path = buildroot
	url = https://github.com/scpcom/buildroot
	branch = nanokvm-2025.02
[submodule "freertos"]
	path = freertos
	url = https://github.com/scpcom/FreeRTOS
	branch = licheervnano
[submodule "linux_5.10"]
	path = linux_5.10
	url = https://github.com/scpcom/linux
	branch = licheervnano-merged-5.10.y
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/scpcom/opensbi
	branch = licheervnano-cvisdk-1.2
[submodule "u-boot-2021.10"]
	path = u-boot-2021.10
	url = https://github.com/scpcom/u-boot
	branch = licheervnano-cvisdk-2021.10
[submodule "build"]
	path = build
	url = https://github.com/scpcom/sophgo-build
	branch = licheervnano
[submodule "fsbl"]
	path = fsbl
	url = https://github.com/scpcom/sophgo-fsbl
	branch = licheervnano
[submodule "isp_tuning"]
	path = isp_tuning
	url = https://github.com/scpcom/sophgo-isp_tuning
	branch = sg200x-dev
[submodule "middleware"]
	path = middleware
	url = https://github.com/scpcom/sophgo-middleware
	branch = maix_mmf-cvisdk
[submodule "osdrv"]
	path = osdrv
	url = https://github.com/scpcom/sophgo-osdrv
	branch = licheervnano-cvisdk
[submodule "oss"]
	path = oss
	url = https://github.com/scpcom/sophgo-oss
	branch = licheervnano
[submodule "ramdisk"]
	path = ramdisk
	url = https://github.com/scpcom/sophgo-ramdisk
	branch = licheesgnano
[submodule "cnpy"]
	path = cnpy
	url = https://github.com/scpcom/cnpy
	branch = tpu
[submodule "cvi_rtsp"]
	path = cvi_rtsp
	url = https://github.com/scpcom/cvi_rtsp
	branch = licheervnano-cvisdk
[submodule "cvibuilder"]
	path = cvibuilder
	url = https://github.com/scpcom/cvibuilder
[submodule "cvikernel"]
	path = cvikernel
	url = https://github.com/scpcom/cvikernel
[submodule "cvimath"]
	path = cvimath
	url = https://github.com/scpcom/cvimath
[submodule "cviruntime"]
	path = cviruntime
	url = https://github.com/scpcom/cviruntime
	branch = licheervnano-cvisdk
[submodule "flatbuffers"]
	path = flatbuffers
	url = https://github.com/scpcom/flatbuffers
	branch = licheervnano-cvisdk
[submodule "ive"]
	path = ive
	url = https://github.com/scpcom/sophgo-ive
	branch = master
[submodule "tdl_sdk"]
	path = tdl_sdk
	url = https://github.com/scpcom/sophgo-tdl_sdk
	branch = licheervnano-cvisdk
