[submodule "buildroot"]
	path = buildroot
	url = https://github.com/scpcom/buildroot
	branch = licheervnano-2023.11
[submodule "freertos"]
	path = freertos
	url = https://github.com/scpcom/FreeRTOS
	branch = licheervnano
[submodule "linux_5.10"]
	path = linux_5.10
	url = https://github.com/scpcom/linux
	branch = licheervnano-5.10.y
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/scpcom/opensbi
	branch = licheervnano-0.9
[submodule "u-boot-2021.10"]
	path = u-boot-2021.10
	url = https://github.com/scpcom/u-boot
	branch = licheervnano-2021.10
[submodule "build"]
	path = build
	url = https://github.com/scpcom/sophgo-build
	branch = licheervnano
[submodule "fsbl"]
	path = fsbl
	url = https://github.com/scpcom/sophgo-fsbl
	branch = licheervnano
[submodule "isp_tuning"]
	path = isp_tuning
	url = https://github.com/scpcom/sophgo-isp_tuning
	branch = licheervnano
[submodule "middleware"]
	path = middleware
	url = https://github.com/scpcom/sophgo-middleware
	branch = licheervnano
[submodule "osdrv"]
	path = osdrv
	url = https://github.com/scpcom/sophgo-osdrv
	branch = licheervnano
[submodule "oss"]
	path = oss
	url = https://github.com/scpcom/sophgo-oss
	branch = licheervnano
[submodule "ramdisk"]
	path = ramdisk
	url = https://github.com/scpcom/sophgo-ramdisk
	branch = licheervnano
[submodule "host-tools"]
	path = host-tools
	url = https://github.com/sophgo/host-tools
